[Unit]
Description=Over Irvine tracks planes
After=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/OverIrvine
ExecStart=/usr/bin/python3 /home/pi/OverIrvine/tracker.py


[Install]
WantedBy=multi-user.target
